*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 70px;
    background-color: #EC715F;
    font-size: 16px;
    color: #FAFAFA;
}

nav{
    display: flex;
    width: 1024px;
}

.nav-img{
    height: 70px;
}

.nav-list{
    margin: 0 20px;
    padding: 10px 0;
    text-align: right;
}

.nav-list-item{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    padding: 0 10px;
}

.main-visual{
    width: 100%;
    height: 650px;
    background-image: url(img/mv.png);
    background-size: cover;
    background-position: center;
}

.main-visual-content{
    text-align: center;
    color: #FAFAFA;
    padding-top: 200px;
}

.main-visual-text1{
    font-size: 64px;
    padding-bottom: 10px;
}

.main-visual-text2{
    font-size: 20px;
}

.portfolio{
    margin: auto;
    width: 920px;
    text-align: center;
    background-color: #ECEFF1;
    justify-content: center;
}

.portfolio-heading{
    padding-top: 90px;
    padding-bottom: 8px;
    font-size: 32px;
    color: #000000;
    border-bottom: solid #EC715F;
    border-width: 3px 70px;
}

.portfolio-content{
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    color: #000000;
}

.portfolio-item{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 90px;
}

.portfolio-img{
    margin: auto;
    width: 300px;
    height: 250px;
}

.feature{
    margin: auto;
    padding-top: 90px;
    width: 980px;
    text-align: center;
    justify-content: center;
}

.feature-heading{
    font-size: 32px;
    color: #000000;
    border-bottom: solid #EC715F;
    border-width: 3px 70px;
    padding-bottom: 8px;
}

.feature-content{
    padding: 30px 30px;
    font-size: 16px;
    color: #000000;
}

.feature-item{
    width: 320px;
    display: inline-block;
    padding-bottom: 90px;
}

i{
    font-size: 60px;
}


.feature-item-name{
    font-size: 20px;
    color: #000000;
    padding: 10px 10px;
}


.feature-item-content{
    font-size: 16px;
    color: #000000;
}